@keyframes raindrop-run {
  0% {
    top: 0%;
  }

  100% {
    top: calc(100vh - 16px);
  }
}

html,
body,
.crystal-container {
  padding: 0;
  margin: 0;
  height: 100%;
}

#crystal-body {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.crystal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #333;
}

.crystal-img img {
  width: 200px;
  height: 200px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  margin-bottom: 12px;
}

.crystal-fall-container {
  display: flex;
  align-items: center;
}

.crystal {
  font-size: 25px;
  font-weight: 600;
  color: rgb(97, 111, 252);
  opacity: .76;
}

.crystal-raindrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 16px;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  background-color: rgb(97, 111, 252);
}

.crystal-raindrop::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-100% - 3px));
  color: rgb(97, 111, 252);
}

.crystal-raindrop-1 {
  left: calc(100% / 6 - 100% / 12 - 2px);
  animation: raindrop-run 12s 2s;
}

.crystal-raindrop-1::before {
  content: '祝';
}

.crystal-raindrop-2 {
  left: calc(100% / 6 * 2 - 100% / 12 - 2px);
  animation: raindrop-run 12s 3s;
}

.crystal-raindrop-2::before {
  content: '愿';
}

.crystal-raindrop-3 {
  left: calc(100% / 6 * 3 - 100% / 12 - 2px);
  animation: raindrop-run 12s 4s;
}

.crystal-raindrop-3::before {
  content: '万';
}

.crystal-raindrop-4 {
  left: calc(100% / 6 * 4 - 100% / 12 - 2px);
  animation: raindrop-run 12s 5s;
}

.crystal-raindrop-4::before {
  content: '事';
}

.crystal-raindrop-5 {
  left: calc(100% / 6 * 5 - 100% / 12 - 2px);
  animation: raindrop-run 12s 6s;
}

.crystal-raindrop-5::before {
  content: '胜';
}

.crystal-raindrop-6 {
  left: calc(100% - 100% / 12 - 2px);
  animation: raindrop-run 12s 7s;
}

.crystal-raindrop-6::before {
  content: '意';
}
